%h2 HAML example
%p
  This file is written in 
  = link_to 'Haml', 'http://haml-lang.com/'
%p
  Note that when using 
  %code Haml
  sinatra requires the layout file to also be a
  %code .haml 
  file
%p
  E.g. the
  %code layout.erb
  file is ignored when rendering 
  %code Haml
  