<h2>Index</h2>

<ul>
  <li><%= link_to 'Plain text - no layout', "/plain-text" %></li>
  <li><%= link_to 'Plain text - with layout', "/plain-text-with-layout" %></li>
  <li><%= link_to 'HAML example', '/haml' %></li>
  <li><%= link_to 'Dynamic route example - date', "/2012/02/04" %></li>
</ul>